.App {
    
    text-align: center;
  }
  
  :root {
    --bg-main: rgb(92, 212, 239);
    --font-size: 20px;
    --font-color: #000000;
    --white: #ffffff;
    --muted: #e9e1ff71;
    --bg-card: #05004f;
  }
  *{
    margin: 0;
    padding:0;
   box-sizing: border-box;
    font-family: gt-super, Georgia, Cambria, "Times New Roman", Times, serif;
  }
  html {
    overflow-x: hidden;
  }
  
  body {
    color: var(--font-color) !important;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  
  
  .Navbar_Links button{
    text-transform: inherit;
    background-color: #191919;
    color:white;
    border-radius:10px;
    padding:7px 10px;
    font-size: 15px;
  }

  .Navbar_Links ul{
    display:flex;
    align-items: center;
  }


  .Navbar_Links li{
    margin-left: 25px;
    list-style: none;
    cursor: pointer;
  }
  .Navbar {
    background-color: var(--bg-main);
    border-bottom: 1px solid #191919;     
    }
  
    .Navbar_Container{
      display:flex;
      align-items: center;
      justify-content: space-between;
    }
    img {
        vertical-align: middle;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        padding: 10px;
    }

  

    .hadding{
        padding:20px;
        font-size: 70px;
        font-weight: 80;
        color:#080808;
    }

    .home p{
        font-size: 18px;
        font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
        color:#292929;
        margin-left:15px;
    }


    .Button{
        border: 1px solid #191919;
        background-color:white;
        text-transform: inherit;
        border-radius:25px;
        margin:25px 0;
        font-size:16px;
        padding:8px 15px;
        font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
        margin-left:15px;
    }

    .home img{
        max-width: 300px;
    }

    .homebackground{
      background-color: #c2c2c2;
    margin: 10px;
    }

    .column {
      float: left;
      width: 25%;
      padding: 0 10px;
      text-align: center;
    }
    
  
    .row {margin: 10px;
    background-color: rgb(225, 226, 227);
  padding: 10px;}
    

    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    .hadding1{
      text-align: center;
    }
    

    @media screen and (max-width: 300px) {
      .column {
        width: 300px;
        display: block;
        margin-bottom: 20px;
        padding: 10px;
      }
    }
    
 
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      padding: 16px;
      text-align: center;
      background-color: #f1f1f1;
    }
  
    .card1{
      background: url('img.jpg');
      background-size: cover;
      background-position: center;
      min-height: 400px;
    }

    .card2{
      background: url('img1.jpg');
      background-size: cover;
      background-position: center;
      min-height: 400px;
    }

    .card3{
      background: url('img2.jpg');
      background-size: cover;
      background-position: center;
      min-height: 400px;
    }

    .card4{
      background: url('img3.jpg');
      background-size: cover;
      background-position: center;
      min-height: 400px;
    }
    .button{
      text-transform: inherit;
      background-color: #318ced;
      color:rgb(1, 1, 1);
      border-radius:10px;
      padding:7px 10px;
      font-size: 15px;
      margin: 10px;
    }
  